.widget {
  background: $light-blue;
}

.widget-header {
  background: $blue;
  color: $off-white;
  padding: $m-size;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.widget-header__title {
  margin: 0;
}

.widget__message {
  color: $off-white;
  border-bottom: 1px solid lighten($light-blue, 10%);
  margin: 0;
  padding: $l-size;
  text-align: center;
}
